{% extends 'Market/base.html' %}
{% load static %}





<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% block content %}
<section class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for product in page_obj %}
            <div class="col">
                <div class="card h-100">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}", style="max-height: 300px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }} - ${{ product.price }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                         <button type="submit" class="btn btn-outline-success btn-sm mt-2">Додати в кошик</button>
                     </form>
                    <div class="card-footer text-end">
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-primary">Редагувати</a>
                        <a href="{% url 'delete_product' product.pk %}" class="btn btn-sm btn-danger">Видалити</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="text-center mt-4">
        <a href="{% url 'add_product' %}" class="btn btn-success btn-lg">Додати новий продукт</a>
    </div>

</section>
{% endblock %}